.personal_trajectories{
    margin: auto;
    margin-top: 100px;
    width: 70%;
    padding: 10px;
    background-image: linear-gradient(to bottom, rgba(85, 85, 85, 0.8) 0%, rgba(85, 85, 85, 0.8) 100%), 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
    background-clip: content-box, padding-box;
    /* background-color: rgba(44, 44, 44, 0.8); */
}

.personal_trajectories_item{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

.personal_trajectories_activity{
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

.personal_space_title{
    display: flex;
    user-select: none;
    justify-content: center;
}

.personal_space_title_btn{
    border: 1px solid black;
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px;
}

.content_container{
    display: flex;
    justify-content: center;

}