.istu-logo {
  display: flex;
  height: var(--istu-logo-height, 50px);
  width: var(--istu-logo-width, 200px);
  border-radius: 40px;
  padding: 7px 13px;
  box-sizing: border-box;
  font-family: 'Proximanova';
  font-weight: 200;
  color: #fff;
  background-color: var(--istu-logo-bg);

  &__image {
    // max-height: 100%;
    width: 26px;
    height: 31px;
  }

  &__titles {
    margin-left: 10px;
    text-transform: uppercase;
  }

  &__title {
    margin-top: 7px;
    font-size: 13px;
  }

  &__full-name {
    display: block;
    margin-top: 6px;
    line-height: 0.7;
    font-size: 3.5px;
  }
}