.istu-logo {
  display: flex;
  height: var(--istu-logo-height, 50px);
  width: var(--istu-logo-width, 200px);
  border-radius: 100px;
  padding: 8px 20px;
  box-sizing: border-box;
  font-family: 'Poximanova';
  font-weight: 200;
  color: #fff;
  background-color: var(--istu-logo-bg);

  &__image {
    max-height: 100%;
  }

  &__titles {
    margin-left: 10px;
    text-transform: uppercase;
  }

  &__title {
    letter-spacing: 1px;
    margin-top: 7px;
    font-size: 14px;
  }

  &__full-name {
    display: block;
    margin-top: 6px;
    line-height: 0.7;
    font-size: 4px;
  }
}