.main-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
  &__content {
    display: flex;
    align-items: center;
    padding: 0 150px;
    background: url('../../assets/images/wave-top.png'),
                url('../../assets/images/wave-bottom-1.png'),
                url('../../assets/images/wave-bottom-2.png');
    background-position: 0 -90px, 0 -190px, 0 -210px;
    background-size: cover, cover, cover;
    flex-grow: 1;
  }

  &__info {
    flex-basis: 450px;
    color: var( --main-page-color);
  }

  &__title {
    font-family: 'Garamond', serif;
    text-transform: uppercase;
    
    font-size: 70px;
  }

  &__desc, &__offer {
    margin-top: 18px;
    font-size: 20px;
  }

  &__offer {
    margin-top: 23px;
  }

  &__registration {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    button {
      cursor: pointer;
      background: var(--btn-bg);
      border-radius: 50px;
      font-style: 'Proximanova';
      font-weight: 400;
      font-size: 46px;
      color: #fff;
      outline: none;
      border: none;
      width: 374px;
      height: 92px;
      transition: background-color 0.2s;
      &:hover {
        background-color: var(--btn-bg-hover);
      }
    }
  }

}

.registration-block{
  box-sizing: border-box;

  position: absolute;
  width: 864px;
  height: 549px;
  left: 450px;
  top: 157px;

  background: #FFFFFF;
  border-radius: 40px;
}

.registration-block-shadow{
  position: absolute;
  width: 864px;
  height: 549px;
  left: 473px;
  top: 181px;

  background: linear-gradient(292.37deg, rgba(234, 173, 255, 0.24) 2.03%, rgba(34, 72, 153, 0.1) 100.85%);
  border-radius: 40px;
  z-index: -1;
}

.registration-input-form{
  display: flex;
  margin: auto;
  width: 100%;
  height: 46px;
  margin-bottom: 6px;
  left: 515px;
  top: 186px;
  border-radius: 20px;
}

.registration-input-form-border-wrap{
  padding: 1rem;
  position: relative;
  border: linear-gradient(rgba(169, 82, 255, 0.47), rgba(39, 75, 155, 0.65));
}

.registration-block__content{
  margin: auto;
  width: 84%;
}

