.main-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__content {
    display: flex;
    align-items: center;
    padding: 0 150px;
    background: url('../../assets/images/wave-top.png'),
      url('../../assets/images/wave-bottom-1.png'),
      url('../../assets/images/wave-bottom-2.png');
    background-position: 0 -90px, 0 -190px, 0 -210px;
    background-size: cover, cover, cover;
    flex-grow: 1;
  }

  &__info {
    flex-basis: 450px;
    color: var(--main-page-color);
  }

  &__title {
    font-family: 'Garamond', serif;
    text-transform: uppercase;

    font-size: 70px;
  }

  &__desc,
  &__offer {
    margin-top: 18px;
    font-size: 20px;
  }

  &__offer {
    margin-top: 23px;
  }

  &__registration {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    button {
      cursor: pointer;
      background: var(--btn-bg);
      border-radius: 50px;
      font-style: 'Proximanova';
      font-weight: 400;
      font-size: 46px;
      color: #fff;
      outline: none;
      border: none;
      width: 374px;
      height: 92px;
      transition: background-color 0.2s;
      &:hover {
        background-color: var(--btn-bg-hover);
      }
    }
  }
}
