@font-face {
  font-family: 'Garamond';
  src: url('../assets/fonts/Garamond-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proximanova';
  src: url('../assets/fonts/ProximaNova-Regular.ttf') format('ttf'),
    url('../assets/fonts/ProximaNova-Regular.woff') format('woff'),
    url('../assets/fonts/ProximaNova-Regular.eot') format('eot');
  font-weight: 400;
  font-style: normal;
}
