@font-face {
  font-family: 'Garamond';
  src: url('../assets/fonts/EBGaramondSC08-Regular.otf') format('otf');
}

@font-face {
  font-family: 'Poximanova';
  src: url('../assets/fonts/proximanova_regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poximanova';
  src: url('../assets/fonts/proximanova_light.otf') format('otf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Poximanova';
  src: url('../assets/fonts/proximanova_bold.otf') format('otf');
  font-weight: 600;
  font-style: normal;
}
