.head_panel{
    margin: auto;
    padding: 5px;
    display: flex;
    width: 70%;
    
    /* background-color: rgba(44, 44, 44, 0.8); */
    background-color: rgba(0, 0, 0, 0.8);
}

.head_wrap{
    display: flex;
}

.user_fi{
    padding: 5px;
    background-color: white;
}

.home_btn{
    margin-left: 5px;
    margin-right: 5px;
    /* line-height: 25px;
    text-align: center;
    /* align-self: center; */
    text-align: center;
    /* border: 1px solid black; */
    /* user-select: none; */
    /* display: inline-block; */
    /* aspect-ratio: 1; */
    width: 30px;
    /* background-color: whitesmoke; */
}

.uni_btn{
    /* background-image: url('../src/pics/4746124.png'); */
}

.trajectory_btn{
    text-align: center;
    border: 1px solid black;
    display: inline-block;
}
