:root {
  --istu-logo-height: 44px;
  --istu-logo-width: 205px;
  --istu-logo-bg: #28235D;
  --link-color: #28235D;
  --btn-bg: #3155A3;
  --btn-bg-hover: #193B84;

  --header-bg: #ececec;
  --main-page-color: #3155A3;
  --input-border: #214697;
  --title-color: #29235c;
}