.personal-page {
  min-height: 100vh;
  display: flex;
  font-family: 'Proximanova';
  flex-direction: column;
  &__content {
    background: url('../../assets/images/wave-top.png'),
      url('../../assets/images/wave-bottom-1.png'),
      url('../../assets/images/wave-bottom-2.png');
    background-position: 0 -90px, 0 -190px, 0 -210px;
    background-size: cover, cover, cover;
    flex-grow: 1;
  }
  &__titles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
  }
  &__block {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 400px;
    border: 2px solid #214798;
    padding: 30px;
    border-radius: 20px;
    max-width: 864px;
    max-height: 450px;
    overflow: hidden;
    background-color: white;
  }
  &__events {
    flex-grow: 1;
    margin-top: 20px;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
  }
  &__elem {
    border: 2px solid #224798;
    border-radius: 15px;
    font-size: 20px;
    padding: 25px 15px 15px 15px;
    &_title {
      font-size: 26px;
    }
  }
}